.snippet-code {
    align-items: flex-start;
    display: flex;
    flex-direction: column;
    counter-reset: line;
    white-space: pre-wrap;
}

.snippet-code span {
    display: block;
    line-height: 1.5rem;
    padding-left: 35px;
}

.snippet-code span:before {
    margin-left: -35px;
    counter-increment: line;
    content: counter(line);
    display: inline-block;
    border-right: 1px solid #DEDEDE;
    padding: 0 0.5em;
    margin-right: 0.5em;
    color: #999999;
    width: 2.2em;
}

.new-snippet input {
    width: 60%;
    display: block;
}

.new-snippet textarea {
    width: 90%;
    height: 50em;
}