<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>

    </head>
    <body>
        <object th:fragment="style">
            <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" />
            <link rel="stylesheet" th:href="@{/css/global.css}" />
            <link rel="stylesheet" th:href="@{/css/jquery-linedtextarea.css}" />
        </object>

        <object th:fragment="script">
            <script src="https://code.jquery.com/jquery-3.1.0.min.js"></script>
            <script th:src="@{/js/jquery-linedtextarea.js}"></script>
            <script>
                $(document).ready(function() {
                    $('.lined').linedtextarea();
                });
            </script>
        </object>
    </body>
</html>

