<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <object th:include="/_global :: style" th:remove="tag" ></object>
        <object th:include="/_global :: script" th:remove="tag" ></object>
    </head>

    <!--/*@thymesVar id="snippet" type="at.ezylot.entities.SnippetEntity"*/-->

    <body>
        <div class="container new-snippet">
            <h1 th:text="#{snippet.create.head}"></h1>
            <form th:method="POST" th:action="@{/snippet/new}" th:object="${snippet}">
                <input type="hidden" th:field="*{id}" />

                <div class="form-group" th:classappend="${#fields.hasErrors('name')} ? 'has-error'">
                    <label class="control-label" th:for="name" th:text="#{snippet.name.label}"></label>
                    <input class="" th:field="*{name}" type="text" required="required" th:title="#{snippet.name.label}" />
                    <p class="help-block with-errors" th:if="${#fields.hasErrors('name')}" th:errors="*{name}"></p>
                </div>

                <div class="form-group" th:classappend="${#fields.hasErrors('content')} ? 'has-error'">
                    <label class="control-label" th:for="content" th:text="#{snippet.content.label}"></label>
                <textarea class="lined" th:field="*{content}" type="text" required="required" th:title="#{snippet.content.label}" >

                </textarea>
                    <p class="help-block with-errors" th:if="${#fields.hasErrors('content')}" th:errors="*{content}"></p>
                </div>

                <button type="submit" th:text="#{submitForm}"></button>
            </form>
        </div>
    </body>
</html>