<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <object th:include="/_global :: style" th:remove="tag" />
        <object th:include="/_global :: script" th:remove="tag" />
    </head>

    <!--/*@thymesVar id="snippet" type="at.ezylot.entities.SnippetEntity"*/-->
    <!--/*@thymesVar id="snippets" type="java.util.List"*/-->
    <!--/*@thymesVar id="isAdmin" type="java.lang.Boolean"*/-->
    <!--/*@thymesVar id="username" type="java.lang.String"*/-->

    <body>
        <div class="container">
            <h1 th:text="#{snippet.list.head}">List snippets</h1>
            <span th:if="${username != null}" th:text="'-' + ${username}"></span>
            <h4><a th:href="@{/snippet/new/}" th:text="#{snippet.create.head}"></a></h4>
            <table class="table">
                <thead>
                <tr>
                    <td class="col-md-2"></td>
                    <td class="col-md-10">Content</td>
                </tr>
                </thead>
                <tbody>
                <tr th:each="snippet : ${snippets}" th:object="${snippet}">
                    <td>
                        <strong th:text="*{name}"></strong><br /><br />
                        <a th:href="@{/snippet/raw/{id}(id=*{id})}">Direct link (raw version)</a><br />
                        <a th:if="${isAdmin}" th:href="@{/snippet/delete/{id}(id=*{id})}">Delete</a><br />
                    </td>
                    <td>
                        <pre class="snippet-code">
                            <span th:each="line : *{content.split('\n')}" th:text="${line}"></span>
                        </pre>
                    </td>
                </tr>

                </tbody>
            </table>
        </div>
    </body>
</html>